.side-nav{
    position: fixed;
    right: 0;
    top: 30%;
}
.side-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0,.5);
}
.side-nav ul li{
    background: white;
    position: relative;
    padding: 15px;

}
.side-nav ul li::before{
    content: '';
    background:url(./images/sidemenu-icons.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    display: block;
    
}
.side-nav ul li:nth-child(2)::before{background-position: 0px -100px;}
/* .side-nav ul li:nth-child(3)::before{background-position: 0px -200px;} */
.side-nav ul li:nth-child(4)::before{background-position: 0px -300px;}
.side-nav ul li:nth-child(5)::before{background-position: 0px -400px;}

.side-nav ul li:nth-child(1):hover::before{background-position: 0px -50px;}
.side-nav ul li:nth-child(2):hover::before{background-position: 0px -150px;}
/* .side-nav ul li:nth-child(3):hover::before{background-position: 0px -250px;} */
.side-nav ul li:nth-child(4):hover::before{background-position: 0px -350px;}
.side-nav ul li:nth-child(5):hover::before{background-position: 0px -450px;}
.side-nav ul li a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    top: 0;
    bottom: 0;

    padding: 15px 30px;
    color: white;
    text-decoration: none;
    border-radius: 10px 0px 0px 10px;
    z-index: -1;
    
    
transition: .5s ease-in-out;
}
.side-nav ul li:hover a{
    transform: translateX(-100px);
}
.box{
    position: fixed;
    top: 0;
    bottom: 0;
    
    /* left: 0; */
    background: black;
}